@import url("https://www.fontspace.com/marques-vintage-font-f96036");
@font-face {
  font-family: "Marques";
  src: url("font/MarquesfreeStampitalic-rgnGO.otf") format("truetype");
}
body {
  font-family: "Marques", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("img/screen-12.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.result-container {
  background-image: url("img/blue-cloudy.avif");
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 250px;
  opacity: 0;
  transform: scale(0.8);
  animation: scaleIn 0.5s ease-out forwards;
  transition: background-color 0.5s;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 57vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 25px;
}
.result-container h1 {
  color: #e74c3c;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.result-container h1 span {
  display: inline-block;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInLetter 1.5s ease-out forwards;
}
@keyframes fadeInLetter {
  to {
    opacity: 2;
    transform: translateY(0);
  }
}
.result-container .city-image {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 15px;
  border-radius: 8px;
}
.result-container .forecast-item {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #349dde;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-app {
  background-image: url("img/blue-cloudy.avif");
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 200px;
  opacity: 0;
  transform: scale(0.8);
  animation: scaleIn 0.5s ease-out forwards;
  transition: background-color 0.5s;
}
.weather-app:hover {
  background-color: rgb(173, 216, 230);
}
@keyframes scaleIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.weather-app .location {
  margin-left: -10px;
}
.weather-app .location label {
  display: block;
  margin-bottom: 10px;
  color: black;
  font-size: 25px;
}
.weather-app .location input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid #3498db;
  border-radius: 8px;
  font-family: "Marques", sans-serif;
  transition: border-color 0.5s, color 0.5s;
  font-size: 16px;
  background-color: #87ceeb;
}
.weather-app .location input:focus {
  border-color: #e74c3c;
  color: #e74c3c;
}
.weather-app .location ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #349dde;
  border-radius: 8px;
  overflow-y: auto;
  max-height: 150px;
}
.weather-app .location ul li {
  padding: 10px;
  font-size: 16px;
  color: #e74c3c;
  cursor: pointer;
}
.weather-app .location ul li:hover {
  background-color: #2ecc71;
  color: white;
}
.weather-app .location button {
  background-color: #e74c3c;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Marques", sans-serif;
  font-size: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 5px;
}
.weather-app .location button:hover {
  background-color: #d62c1a;
}
.weather-app .location h1 {
  margin: 10px 0;
  color: #3498db;
  font-size: 2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.weather-app .location p {
  color: #fff;
}
.weather-app .temperature {
  margin: 20px 0;
}
.weather-app .temperature h2 {
  color: #e74c3c;
  font-size: 2.5em;
}
.weather-app .conditions p {
  color: #fff;
  margin-bottom: 10px;
}
.weather-app .conditions img {
  width: 80px;
  height: 80px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=style.css.map */